#text{
    .leftAside{
        .logo{
            height: 60px;
            color: #ffffff;
            font-size: 20px;
            text-align: center;
            border-bottom: 1px solid #ffffff;
            line-height: 60px;
        }
        .menu-ul{
            border: none;
        }
    }
}